
<section class="section-dark">
  <div class="bg-overlay"></div>
  <div class="container text-center text-md-start">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1 class="display-4 fw-bold">Bienvenue sur <span class="text-info">TechBlog</span></h1>
        <p class="mt-4 fs-5 text-light">
          Découvrez des articles sur les nouvelles technologies, le développement web, l’IA, les gadgets et bien plus encore !
        </p>
        <a href="categorie" class="btn btn-info btn-lg mt-3"> Découvrir les articles</a>
      </div>
      <div class="col-md-6 text-center mt-4 mt-md-0">
        <img src="https://cdn-icons-png.flaticon.com/512/1077/1077012.png" alt="Ordinateur" class="img-fluid rounded" width="300">
      </div>
    </div>
  </div>
</section>
<app-post-list></app-post-list>
<app-apropos></app-apropos>
<app-contact></app-contact>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

